@tailwind base;
@tailwind components;
@tailwind utilities;

.silly-capitalize::first-letter {
  text-transform: capitalize;
}

.fui-dialog {
  position: fixed;
}

.fui-layout[data-id="backdrop"] {
  opacity: 50%;
  position: fixed;
  pointer-events: none;
}
